<div class="footer-container footer bg-dark">
    <div class="footer-content"><br>
      <div class="social-media">
        <div class="icon">
          <img src="./../../assets/img/facebook.png" alt="">
        </div>
        <div class="icon">
          <img src="./../../assets/img/twitter.png" alt="">
        </div>
        <div class="icon">
          <img src="./../../assets/img/youtube.png" alt="">
        </div>
        <div class="icon">
          <img src="./../../assets/img/twitch.png" alt="">
        </div>
      </div>
      <div class="footer-info d-flex">
        <div class="copyright d-flex" style="color: white;">
          <p class="mb-0">COPYRIGHT ©2020 BOOK-BUFFET CORPORATION. ALL RIGHTS RESERVED.</p>
          <p class="mb-0">All BOOKS are registered trademarks, trademarks or service marks of BOOK-BUFFET.</p>
          <ul class="d-flex mt-2">
            <li class="pr-3"><a href="#"><strong>Privacy Policy</strong></a></li>
            <li class="pr-3">|<a href="#" class="pl-3"><strong>Rules of conduct</strong></a></li>
            <li class="pr-3">|<a href="#" class="pl-3"><strong>EULA</strong></a></li>
            <li>|<a href="#" class="pl-3"><strong>Book-created content</strong></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
