<ngb-carousel class="carousel"showNavigationArrows="true" interval="4200" pauseOnHover="false">
  <ng-template ngbSlide>
    <img src="../../../assets/img/bestseller.jpg" alt="Best Sellers Books" title="Best Sellers Books">
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../../assets/img/new-releases.jpg" alt="New Releases" title="New Releases">
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../../assets/img/school-books.jpg" alt="School Books" title="School Books">
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../../assets/img/school-books.jpg" alt="School Books" title="School Books">
  </ng-template>
  <img src="../../../assets/img/children-young-adult.jpg" alt="Children &amp; young Adult Books"
    title="Children &amp; young Adult Books">
</ngb-carousel>


<div class="jumbotron jumbotron-billboard" >
  <h1 class="display-6">Welcome to <strong>BOOK-BUFFET</strong></h1>
    <h4>Reading the books meant more than just going through content.</h4>
    <hr class="my-4">
    <ul >
        <li><h5>It meant facing the mirrors for passion of reading that was being long avoided.</h5></li>
        <li><h5>Streaming unlimited novels,fictions,sci-fy,academics and many more books anytime, anywhere, absolutely</h5></li>
    </ul>
    <a class="btn btn-primary btn-lg" routerLink="/users/login" role="button">Explore here</a> 
</div>
<div class="card-columns">
    <div class="card p-3 ">
        <div class="card-body ">
        <h5 class="card-header bg-secondary text-white text-center">Read Fest</h5>
        <p class="card-text">We believe that any "book that helps a child to form a habit of reading,
             to make reading one of his needs ,is good for him".Whenever your need a good book, somewhere
             in the world a door opens to allow in more light. 
        </p>
      </div>
    </div>
    <div class="card bg-info text-white text-center p-3">
        <blockquote class="blockquote mb-0">
          <p>A room without <strong>books</strong> is like a body without a soul</p>
        </blockquote>
    </div>
    <div class="card text-center">
        <div class="card-body">
          <h5 class="card-header bg-secondary text-white text-center">How much it costs</h5>
          <p class="card-text">Nothing, read books on your smartphones,tablets, laptops, or streaming device, all for free. No extra costs, no contracts
          </p>
        </div>
    </div>
    <div class="card p-3">
        <div class="card-body">
        <h5 class="card-header bg-secondary text-white text-center">What's waiting for you</h5>
        <p class="card-text">Thers's always something new to discover, and new books added every week. 
            Over 10000 books are top trending and full length book.We have an extensive library of feature
            books, novels, awarding winning biographies, originals and more. 
        </p>
      </div>
    </div>
</div>    


