<section class="search-session">
    <form [formGroup]="searchList" class="form-inline my-2 my-lg-0  " (ngSubmit)="onSubmit()">
        <div class="form-group input-section"><br><br>
            <input class="form-control mr-sm-2 " type="search" placeholder="category" aria-label="Search" formControlName="category"><br><br>
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </div>
    </form>
    <br>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div *ngFor="let item of items">
            <div class="col mb-4">
                <div class="card" style="width: 18rem;height: 36rem;">
                <img src="{{item.volumeInfo.imageLinks.thumbnail}}" class="card-img-top" style="width: 18rem;height: 20rem;" alt="Image">
                <div class="card-body ">
                    <h5 class="card-title">Title:{{item.volumeInfo.title}}</h5>
                    <strong>Authors:</strong>
                    <div *ngFor="let auth of item.volumeInfo.authors">
                        <span>{{auth}}</span>
                    </div>
                    <div style="height: 10%; text-align: center;">
                    <button class="btn btn-outline-success my-2 my-sm-0" style=" color: #03045e;" (click)="onFav(item)">Add to Favourite</button><br>
                    <br>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
    