<div class="fav-session ">
    <h3 class="h1-fav">Favourites</h3>
<div class="row row-cols-1 row-cols-md-4 g-4">
    <div *ngFor="let item of favourite">
        <div class="col mb-4">
            <div class="card" style="width: 18rem;height: 35rem;">
                <img src="{{item.urlImg}}" class="card-img-top" style="width: 18rem;height: 20rem;" alt="Image">
                <div class="card-body ">
                    <h5 class="card-title">Title:{{item.title}}</h5>
                    <strong>Authors:</strong>
                    <span>{{item.author}}</span>
                    <div style="height: 10%; text-align: center;">
                        <a [href]="item.webUrl">Read book</a><br>
                    </div><br>
                    <button class="btn btn-danger" (click)=delete(item)>Delete</button>
            </div>
        </div>
    </div>
</div>
</div>
